:root {
  --backgroundmain-color: #2f303a;
  --backgroundteam-color: #f5f4fa;
  --bacckgroundheader-color: #ececec;
  --accent-color: #2196f3;
  --texttitle-color: #212121;
  --text-color: #757575;
  --accent1-color: #FFFFFF;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

* {
  box-sizing: border-box;
}

.header {
  background-color: var(--accent1-color);
}

.header-list {
  list-style: none;
}

.header-link-1 {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}

.header-link-11 {
  color: var(--texttitle-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}

.header-link-22 {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}

.header-link {
  color: var(--texttitle-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}

.header-link .header-link-1, .header-link-2 {
  color: var(--texttitle-color);
  text-decoration: none;
  margin-right: 93px;
}

.header-link-1:hover {
  color: var(--texttitle-color);
  text-decoration: none;
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.header-link-11:hover {
  color: var(--texttitle-color);
  text-decoration: none;
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.header-link-2:hover {
  color: var(--texttitle-color);
  text-decoration: none;
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.header-link:hover {
  color: var(--texttitle-color);
  text-decoration: none;
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
}

.header-link-1 {
  font-weight: 500;
  font-size: 14px;
}

.header-link-2 {
  font-weight: 500;
  font-size: 14px;
}

.header {
  padding: 32px 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-list {
  display: flex;
  padding: 0;
}

.header-list-1 {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

.header-item {
  margin-right: 50px;
  width: 72px;
}

.header-item-1 {
  margin-right: 50px;
  width: 45px;
  margin-left: 93px;
}

.header-item-k {
  margin-right: 344px;
}

.header-item-2 {
  margin-right: 50px;
}

.header-item-1::after {
  content: "";
  position: absolute;
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  margin-top: 67.5px;
  left: 555px;
}

.icon {
  display: inline-block;
  width: 10px;
  height: 16px;
  stroke-width: 0;
  stroke: #757575;
  fill: #757575;
}

.icon-smartphone {
  width: 10px;
}

.icon-phone-1 {
  width: 10px;
  height: 20px;
}

.input-modal {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border-style: solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-width: 1px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal:hover {
  border-color: 1px solid #2196f3;
  fill: #2196f3;
}

.div-modal-icon-input {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 4px;
}

.title-input {
  margin-left: 25px;
}

.header-item::after {
  content: "";
  position: absolute;
  width: 78px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  margin-top: 49px;
  left: 648px;
}

.footer {
  background-color: var(--backgroundmain-color);
}

.footer-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--accent1-color);
  margin-bottom: 0;
  margin-top: 20px;
}

.footer-list {
  list-style: none;
}

.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(225, 225, 225, 0.6);
  text-decoration: none;
}

.footer-link:hover {
  color: var(--texttitle-color);
  text-decoration: none;
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
}

.footer-list {
  padding-bottom: 60px;
  margin-bottom: 0;
  padding-left: 0;
}

.footer-item {
  padding-bottom: 9px;
}

.footer-logo {
  padding-top: 60px;
}

.footer-container {
  display: flex;
  justify-content: flex-start;
}

.footer-center-title {
  color: #FFFFFF;
  margin-top: 0;
  font-size: 14px;
  margin-bottom: 20px;
}

.footer-center {
  margin-top: 72px;
  margin-left: 70px;
}

.team-svg-footer {
  height: 20px;
  width: 20px;
  fill: #AFB1B8;
}

.team-svg-footer:hover {
  background-color: #2196f3;
  fill: white;
  padding: 10px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
}

.footer-list-email {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.footer-list-email-title {
  color: #FFFFFF;
  font-size: 14px;
  margin-top: 0px;
}

.footer-list-email-button {
  color: #FFFFFF;
  background-color: #2196f3;
  padding-left: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 28px;
  border-radius: 4px;
  border-style: solid;
  border-color: #2196f3;
  margin-left: 12px;
}

.input-email-footer {
  border: none;
  background-color: #2F303A;
}

.footer-right {
  margin-top: 72px;
  margin-left: 93px;
}

.footer-list-email-item {
  display: flex;
}

.input-email-footer {
  text-align: start;
  padding-left: 16px;
  border-color: rgba(255, 255, 255, 0.6);
  border-style: solid;
  border-radius: 4px;
  background-color: #2F303A;
  width: 358px;
  height: 50px;
}

.services {
  background-color: var(--backgroundmain-color);
  background-image: url(img/bg.jpg);
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.services-headline {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--accent1-color);
}

.services-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--accent1-color);
  background-color: var(--accent-color);
  border-style: solid;
  border-color: var(--accent-color);
  border-radius: 4px;
  padding-top: 10px;
  padding-left: 32px;
  padding-bottom: 10px;
  padding-right: 32px;
  cursor: pointer;
}

.services-headline {
  width: 50%;
  text-align: center;
  display: flex;
}

.services-button {
  margin: 30px 0;
  display: flex;
}

.services .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information-list {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: space-between;
  align-items: flex-start;
}

.information-title {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 0;
}

.information-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color);
  margin-top: 10px;
  align-items: flex-start;
}

.photo-work-title {
  font-weight: 700;
  font-size: 36px;
}

.photo-work {
  margin-bottom: 94px;
}

.team-people-title {
  font-weight: 700;
  font-size: 36px;
}

.team-people-figcaption {
  font-weight: 500;
  font-size: 16px;
  padding-top: 20px;
}

.team-people-figcaption-job {
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
  padding-top: 10px;
}

.information {
  margin-top: 94px;
  margin-bottom: 94px;
  display: flex;
}

.information-item {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  margin-right: 30px;
}

.photo-work-title {
  text-align: center;
  margin-bottom: 50px;
}

.team-people-title {
  padding-top: 94px;
  text-align: center;
}

.team-people-figure {
  width: 270px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-people-figcaption,
.team-people-figcaption-job {
  text-align: center;
}

.team-people-photo {
  width: 270px;
}

.team-people-figure-bg-portfolio {
  background-color: var(--accent1-color);
  width: 370px;
  height: 404px;
  border-style: solid;
  border-color: #eeeeee;
  border-width: 1.5px;
}

.team-people-figure-bg-portfolio:hover {
  background-color: var(--accent1-color);
  width: 370px;
  height: 404px;
  border-style: solid;
  border-color: #eeeeee;
  border-width: 1.5px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.photo-work-container {
  display: flex;
  justify-content: space-between;
}

.team-people-figure-bg {
  background-color: var(--accent1-color);
  border-radius: 4px;
}

.team-people {
  background-color: var(--backgroundteam-color);
  display: flex;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
  gap: 30px;
  list-style: none;
}

.clients-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.clients {
  padding-top: 94px;
  padding-bottom: 82px;
}

.clients-item-link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: #AFB1B8;
}

.clients-svg {
  height: 92px;
  width: 170px;
  fill: #AFB1B8;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 32px;
  padding-left: 32px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-svg:hover {
  border: 1px solid #2196f3;
  fill: #2196f3;
}

.photo-work-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.photo-work-description {
  font-weight: 700;
  font-size: 14px;
  color: white;
  position: absolute;
  background-color: rgba(33, 33, 33, 0.6);
  display: block;
  margin: 0;
  padding: 20px;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
}

.photo-work-container-2 {
  position: relative;
}

.information-item:nth-child(1)::before {
  content: url(img/group.png);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--backgroundteam-color);
  width: 270px;
  height: 120px;
}

.information-item:nth-child(2)::before {
  content: url(img/clock.png);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--backgroundteam-color);
  width: 270px;
  height: 120px;
}

.information-item:nth-child(3)::before {
  content: url(img/diagram.png);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--backgroundteam-color);
  width: 270px;
  height: 120px;
}

.information-item:nth-child(4)::before {
  content: url(img/astronaut.png);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--backgroundteam-color);
  width: 270px;
  height: 120px;
}

.team-svg {
  height: 20px;
  width: 20px;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.socail-team-link {
  text-decoration: none;
  padding: 10px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socail-team-link:hover .team-svg {
  fill: white;
}

.team-div {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 40px;
}

.social-icon-item:hover {
  fill: white;
}

.socail-team-link:hover {
  background-color: #2196f3;
  fill: white;
}

.socail-icon-item {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-right: 10px;
}

.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--texttitle-color);
  background-color: var(--backgroundteam-color);
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
  margin-right: 8px;
}

.portfolio-button:hover {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--accent1-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.projects-figcaption {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  padding-top: 20px;
  padding-bottom: 4px;
  padding-left: 24px;
}

.projects-figcaption-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-color);
  padding-left: 24px;
  padding-bottom: 20px;
}

.portfolio-container {
  margin-top: 94px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.projects-figure {
  display: flex;
  width: 370px;
  margin: 0;
}

.projects {
  padding-bottom: 94px;
}

.grid-container-portfolio {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.line-h-m {
  background-color: var(--bacckgroundheader-color);
  height: 1px;
}

.team-people-figure-wrap {
  position: relative;
  overflow: hidden;
}

.team-people-figure-list {
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background-image: rgba(33, 150, 243, 0.9);
  transition: bottom 250ms cubic-bezier(0.37, 1.65, 0.735, 0.61);
}

.team-people-figure-desc {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
}

.team-people-figure-wrap:hover .team-people-figure-list {
  bottom: 0;
}

.roboto-regular {
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: Roboto;
}

.grid-container {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
}

/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 500ms cubic-bezier(0.42, 0, 0.58, 1);
}

.backdrop.is-hidden {
  transform: scale(0.8);
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 400px;
  min-height: 300px;
  padding: 15px;
  background-color: white;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1411764706);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1215686275);
}

.modal-title {
  display: flex;
  justify-content: space-between;
}

.team-people-figure-wrap {
  position: relative;
  overflow: hidden;
}

.team-people-figure-list {
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(180deg, rgba(245, 175, 25, 0.5803921569), rgba(241, 39, 17, 0.6549019608));
  transition: bottom 250ms cubic-bezier(0.37, 1.65, 0.735, 0.61);
}

.team-people-figure-wrap:hover .team-people-figure-list {
  bottom: 0;
}

.close {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border-color: #FFFFFF;
  border-style: solid;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover {
  color: #2196f3;
}

.h2-modal-title {
  font-family: roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 23.44px;
  display: flex;
  text-align: center;
  padding: 40px;
}

.button-modal-list {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: #2196f3;
  color: white;
  border-color: #2196f3;
  border-style: solid;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}

.checkbox-label a {
  color: #2196f3;
}

.checkbox-label {
  color: #757575;
}

.form-modal {
  color: #757575;
}

.div-modal-icon-input {
  color: #757575;
}

.svg-modal-icon {
  width: 18px;
  height: 18px;
}