

.container{
  min-width: 320px;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.container.adaptive{
  max-width: 480px;
}

.container.adaptive{
  max-width: 768px;
}

.container.adaptive{
  max-width: 1200px;
}

*{
  box-sizing: border-box;
}

/* Large: 992px - 1199px */
@media (max-width: 1199px) {
  .container {
    width: 960px;
  }
}

/* Medium: 768px - 991px */
@media (max-width: 991px) {
  .container {
    width: 720px;
  }
}

/* Small: 576px - 767px */
@media (max-width: 767px) {
  .container {
    width: 540px;
  }
}

/* Extra small: 0px (320px) - 575px */
@media (max-width: 575px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}

@media (max-width: 575px), (min-width: 320px){
  .information-list{
    flex-wrap: wrap;
 }
 .information-item{
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .photo-work{
  display: none
 }
 .team-people-title{
  display: flex
 }
 .grid-container{
  flex-wrap: wrap;
  display: flex;
  margin-bottom: 30px;
 }
}

@import "untils/placeholders";
@import "untils/mixins";
@import "untils/variables";
@import "components/header";
@import "components/header-portfolio";
@import "components/footer";
@import "components/main-index";
@import "components/main-portfolio";

input[type="checkbox"],
label {
  display: none;
}

/* mobile menu */
@media (max-width: 768px) {
  nav {
    order: 1;
  }
  label {
    display: block;
    height: 30px;
    width: 30px;
    margin-left: auto;
    position: relative;
  }
  label:hover {
    cursor: pointer;
  }
  label span {
    top: 15px;
  }
  label span,
  label span::before,
  label span::after {
    content: '';
    display: block;
    width: 25px;
    height: 2px;
    background: #333;
    position: absolute;
    right: 0;
    transition: .3s;
    z-index: 10;
  }
  label span::before {
    top: -8px;
  }
  label span::after {
    top: 8px;
  }
  .nav_menu {
    display: none;
  }
  input[type="checkbox"]:checked ~ .nav_menu{
    display: flex;
    flex-direction: column;
  }
  input[type="checkbox"]:checked ~ label span {
    transform: rotate(-45deg);
  }
  input[type="checkbox"]:checked ~ label span::before {
    top: 0;
    transform: rotate(0);
  }
  input[type="checkbox"]:checked ~ label span::after {
    top: 0;
    transform: rotate(90deg);
  }
  .nav_menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: #fff;
    box-shadow: 0 12px 8px #ececec;
    margin: 0;
  }
  .nav_menu li {
    margin: 15px 0;
  }
}

.roboto-regular {
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-weight: 900;
  font-style: normal;
}

body{
  font-family: Roboto;
}

.grid-container{
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
}

/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

.backdrop.is-hidden {
transform: scale(0.8);
opacity: 0;
    pointer-events: none;
}
.no-scroll {
  overflow: hidden;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 400px;
  min-height: 300px;
  padding: 15px;
  background-color: white;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px #00000033;
  box-shadow: 0px 1px 1px 0px #00000024;
  box-shadow: 0px 1px 3px 0px #0000001F;
}

.modal-title{
  display: flex;
  justify-content: space-between;
}

.team-people-figure-wrap {
  position: relative;
  overflow: hidden;
}

.team-people-figure-list { 
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(180deg, rgba(245, 175, 25, 0.5803921569), rgba(241, 39, 17, 0.6549019608));
  transition: bottom 250ms cubic-bezier(0.37, 1.65, 0.735, 0.61);
}

.team-people-figure-wrap:hover .team-people-figure-list{
 bottom: 0;
}

.close{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border-color: #FFFFFF;
  border-style: solid;  
}

.modal-container{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover{
  color: #2196f3;
}

.h2-modal-title{
  font-family: roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 23.44px;
  display: flex;
  text-align: center;
  padding: 0 25px;
}

.button-modal-list{
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: #2196f3;
  color: white;
  border-color: #2196f3;
  border-style: solid;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  margin-left: 149px;
  margin-bottom: 25px;
}

.checkbox-label a{
  color: #2196f3;
}

.checkbox-label{
  color: #757575;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.form-modal{
  color: #757575;
}

.div-modal-icon-input{
  color: #757575;
  position: relative;
}

.svg-modal-icon{
  width: 18px;
  height: 18px;
  position: absolute;
  left: 5px;
  top: 10px;
}

.textarea-modal{
  width: 100%;
  margin-left: 25px;
  margin-top: 4px;
}