

.container{
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

*{
  box-sizing: border-box;
}

@import "scss/untils/variables";
@import "components/header";
@import "components/header-portfolio";
@import "components/footer";
@import "components/main-index";
@import "components/main-portfolio";

.roboto-regular {
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-weight: 900;
  font-style: normal;
}

body{
  font-family: Roboto;
}

.grid-container{
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
}

/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

.backdrop.is-hidden {
transform: scale(0.8);
opacity: 0;
    pointer-events: none;
}
.no-scroll {
  overflow: hidden;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 400px;
  min-height: 300px;
  padding: 15px;
  background-color: white;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px #00000033;
  box-shadow: 0px 1px 1px 0px #00000024;
  box-shadow: 0px 1px 3px 0px #0000001F;
}

.modal-title{
  display: flex;
  justify-content: space-between;
}

.team-people-figure-wrap {
  position: relative;
  overflow: hidden;
}

.team-people-figure-list { 
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(180deg, rgba(245, 175, 25, 0.5803921569), rgba(241, 39, 17, 0.6549019608));
  transition: bottom 250ms cubic-bezier(0.37, 1.65, 0.735, 0.61);
}

.team-people-figure-wrap:hover .team-people-figure-list{
 bottom: 0;
}

.close{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border-color: #FFFFFF;
  border-style: solid;  
}

.modal-container{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover{
  color: #2196f3;
}

.h2-modal-title{
  font-family: roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 23.44px;
  display: flex;
  text-align: center;
  padding: 0 25px;
}

.button-modal-list{
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: #2196f3;
  color: white;
  border-color: #2196f3;
  border-style: solid;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  margin-left: 149px;
  margin-bottom: 25px;
}

.checkbox-label a{
  color: #2196f3;
}

.checkbox-label{
  color: #757575;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.form-modal{
  color: #757575;
}

.div-modal-icon-input{
  color: #757575;
  position: relative;
}

.svg-modal-icon{
  width: 18px;
  height: 18px;
  position: absolute;
  left: 5px;
  top: 10px;
}

.textarea-modal{
  width: 100%;
  margin-left: 25px;
  margin-top: 4px;
}