:root {
  --backgroundmain-color: #2f303a;
  --backgroundteam-color: #f5f4fa;
  --bacckgroundheader-color: #ececec;
  --accent-color: #2196f3;
  --texttitle-color: #212121;
  --text-color: #757575;
}


.footer {
  background-color: var(--backgroundmain-color);
}

.header {
  background-color: var(--bacckgroundheader-color);
}

.roboto-regular {
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-weight: 900;
  font-style: normal;
}

body{
  font-family: Roboto;
}

.services-headline{
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}

.services-button{
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}

.information-title{
  font-weight: 700;
  font-size: 14px;
}

.information-description{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.photo-work-title{
  font-weight: 700;
  font-size: 36px;
}

.team-people-title{
  font-weight: 700;
  font-size: 36px;
}

.team-people-figcaption{
  font-weight: 500;
  font-size: 16px;
}

.footer-text{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.footer-link{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.header-link{
  font-weight: 500;
  font-size: 14px;
}

.porfolio-button{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.projects-figcaption{
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
