:root {
  --backgroundmain-color: #2f303a;
  --backgroundteam-color: #f5f4fa;
  --bacckgroundheader-color: #ececec;
  --accent-color: #2196f3;
  --texttitle-color: #212121;
  --text-color: #757575;
  --accent1-color: #FFFFFF;
}

.container{
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

*{
  box-sizing: border-box;
}  

.footer {
  background-color: var(--backgroundmain-color);
}

.header {
  background-color: var(--accent1-color);
}

.services{
  background-color: var(--backgroundmain-color);
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.team-people{
  background-color: var(--backgroundteam-color);
  display: flex;
  padding-bottom: 94px;
}

.roboto-regular {
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-weight: 900;
  font-style: normal;
}

body{
  font-family: Roboto;
}

.header-list{
  list-style: none;
}

.header-link-1{
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}

.header-link-11{
  color: var(--texttitle-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}

.header-link-22{
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}

.header-link{
  color: var(--texttitle-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}

.header-link .header-link-1, .header-link-2{
  color: var(--texttitle-color);
  text-decoration: none;
  margin-right: 93px;
}

.header-link-1:hover{
  color: var(--texttitle-color);
  text-decoration: none;
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.header-link-11:hover{
  color: var(--texttitle-color);
  text-decoration: none;
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.header-link-2:hover{
  color: var(--texttitle-color);
  text-decoration: none;
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.header-link:hover{
  color: var(--texttitle-color);
  text-decoration: none;
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.services-headline{
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--accent1-color);
}

.services-button{
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--accent1-color);
  background-color: var(--accent-color);
  border-style: solid;
  border-color: var(--accent-color);
  border-radius: 4px;
  padding-top: 10px;
  padding-left: 32px;
  padding-bottom: 10px;
  padding-right: 32px;
  cursor: pointer;
}

.information-list{
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: space-between;
  align-items: flex-start;
}

.information-title{
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 0;
}

.information-description{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color);
  margin-top: 10px;
  align-items: flex-start;
}

.photo-work-title{
  font-weight: 700;
  font-size: 36px;
}

.photo-work{
  margin-bottom: 94px;
}

.team-people-title{
  font-weight: 700;
  font-size: 36px;
}

.team-people-figcaption{
  font-weight: 500;
  font-size: 16px;
  padding-top: 20px;
}

.footer-text{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--accent1-color);
  margin-bottom: 0;
  margin-top: 20px;
}

.footer-list{
  list-style: none;
}

.footer-link{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgb(225, 225, 225, 0.6);
  text-decoration: none;
}

.footer-link:hover{
  color: var(--texttitle-color);
  text-decoration: none;
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
}

.header-link{
  font-weight: 500;
  font-size: 14px;
}

.header-link-1{
  font-weight: 500;
  font-size: 14px;
}

.header-link-2{
  font-weight: 500;
  font-size: 14px;
}

.portfolio-button{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--texttitle-color);
  background-color: var(--backgroundteam-color);
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
  margin-right: 8px;
}

.portfolio-button:hover{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--accent1-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
}

.projects-figcaption{
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  padding-top: 20px;
  padding-bottom: 4px;
  padding-left: 24px;
}

.team-people-figcaption-job{
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
  padding-top: 10px;
}

.projects-figcaption-name{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-color);
  padding-left: 24px;
  padding-bottom: 20px;
}

.header{
  padding: 32px 0;
}

.services-headline{
  width: 50%;
  text-align: center;
  display: flex;
}

.services-button{
  margin: 30px 0;
  display: flex;
}

.information{
  margin-top: 94px;
  margin-bottom: 94px;
  display: flex;
}

.information-item{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  margin-right: 30px;
}

.photo-work-title{
  text-align: center;
  margin-bottom: 50px;
}

.team-people-title{
  padding-top: 94px;
  text-align: center;
}

.team-people-figure{
  width: 270px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.team-people-figcaption, 
.team-people-figcaption-job{
  text-align: center;
}

.team-people-photo{
  width: 270px;
}

.footer-list{
  padding-bottom: 60px;
  margin-bottom: 0;
  padding-left: 0;
}

.footer-item{
  padding-bottom: 9px;
}

.portfolio-container{
  margin-top: 94px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.projects-figure{
  display: flex;
  gap: 30px;
  width: 370px;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-list{
  display: flex;
  padding: 0;
}

.header-list-1{
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

.header-item{
  margin-right: 50px;
  width: 72px;
}

.header-item-1{
  margin-right: 50px;
  width: 45px;
  margin-left: 93px;
}

.header-item-k{
  margin-right: 344px;
}

.header-item-2{
  margin-right: 50px;
}

.team-people-figure-bg{
  background-color: var(--accent1-color);
  height: 368px;
}

.footer-logo{
  padding-top: 60px;
}

.line-h-m{
  background-color:var(--bacckgroundheader-color);
  height: 1px;
}

.team-people-figure-bg-portfolio{
  background-color: var(--accent1-color);
  width: 370px;
  height: 404px;
  border-style: solid;
  border-color: #eeeeee;
  border-width: 1.5px;
}

.services .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photo-work-container{
  display: flex;
  justify-content:space-between;
}

.grid-container{
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
}

.grid-container-portfolio{
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 434px 434px 434px;
}

.projects{
  padding-bottom: 94px;
}