.footer {
    background-color: var(--backgroundmain-color);
  }
  
  .footer-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--accent1-color);
    margin-bottom: 0;
    margin-top: 20px;
  }
  
  .footer-list{
    list-style: none;
  }
  
  .footer-link{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgb(225, 225, 225, 0.6);
    text-decoration: none;
  }
  
  .footer-link:hover{
    color: var(--texttitle-color);
    text-decoration: none;
    color: var(--accent-color);
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
  }
  
  .footer-list{
    padding-bottom: 60px;
    margin-bottom: 0;
    padding-left: 0;
  }
  
  .footer-item{
    padding-bottom: 9px;
  }
  
  .footer-logo{
    padding-top: 60px;
  }

  .footer-container{
    display: flex;
    justify-content: flex-start;
  }
  
  .footer-center-title{
    color: #FFFFFF;
    margin-top: 0;
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .footer-center{
    margin-top: 72px;
    margin-left: 70px;
  }
  
  .team-svg-footer{
    height: 20px;
    width: 20px;
    fill: #AFB1B8;
  }
  
  .team-svg-footer:hover{
    background-color: #2196f3;
    fill: white;
    padding: 10px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
  }
  
  .footer-list-email{
    list-style: none;
    margin: 0px;
    padding: 0px;
  }

  .footer-list-email-title{
    color: #FFFFFF;
    font-size: 14px;
    margin-top: 0px;
  }

  .footer-list-email-button{
    color: #FFFFFF;
    background-color: #2196f3;
    padding-left: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 28px;
    border-radius: 4px;
    border-style: solid;
    border-color: #2196f3;
    margin-left: 12px;
  }
  
  .input-email-footer{
    border: none;
    background-color: #2F303A;
  }

  .footer-right{
    margin-top: 72px;
    margin-left: 93px;
  }

  .footer-list-email-item{
    display: flex;
  }

  .input-email-footer{
    text-align: start;
    padding-left: 16px;
    border-color: rgba(255, 255, 255, 0.6);
    border-style: solid;
    border-radius: 4px;
    background-color: #2F303A;
    width: 358px;
    height: 50px;
  }