.header-item::after{
    content: '';
    position: absolute;
    width: 78px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    margin-top: 49px;
    left: 648px;
  }