.services{
    background-color: $backgroundmain-color;
    background-image: url(img/bg.jpg);
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }

  .services-headline{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: $accent1-color;
  }
  
  .services-button{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    color: $accent1-color;
    background-color: $accent-color;
    border-style: solid;
    border-color: $accent-color;
    border-radius: 4px;
    padding-top: 10px;
    padding-left: 32px;
    padding-bottom: 10px;
    padding-right: 32px;
    cursor: pointer;
  }

  .services-headline{
    width: 50%;
    text-align: center;
    display: flex;
  }
  
  .services-button{
    margin: 30px 0;
    display: flex;
  }

  .services .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .information-list{
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .information-title{
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .information-description{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: $text-color;
    margin-top: 10px;
    align-items: flex-start;
  }
  
  .photo-work-title{
    font-weight: 700;
    font-size: 36px;
  }
  
  .photo-work{
    margin-bottom: 94px;
  }

  .team-people-title{
    font-weight: 700;
    font-size: 36px;
  }
  
  .team-people-figcaption{
    font-weight: 500;
    font-size: 16px;
    padding-top: 20px;
  }

  .team-people-figcaption-job{
    font-weight: 400;
    font-size: 16px;
    color: $text-color;
    padding-top: 10px;
  }

  .information{
    margin-top: 94px;
    margin-bottom: 94px;
    display: flex;
  }
  
  .information-item{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    margin-right: 30px;
  }
  
  .photo-work-title{
    text-align: center;
    margin-bottom: 50px;
  }
  
.team-people-title{
    padding-top: 94px;
    text-align: center;
  }
  
  .team-people-figure{
    width: 270px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 12%);
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 14%);
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 20%);
  }
  
  .team-people-figcaption, 
  .team-people-figcaption-job{
    text-align: center;
  }
  
  .team-people-photo{
    width: 270px;
  }

  .team-people-figure-bg-portfolio{
    background-color: $accent1-color;
    width: 370px;
    height: 404px;
    border-style: solid;
    border-color: #eeeeee;
    border-width: 1.5px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .team-people-figure-bg-portfolio:hover{
    background-color: $accent1-color;
    width: 370px;
    height: 404px;
    border-style: solid;
    border-color: #eeeeee;
    border-width: 1.5px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 25%);
  }

  .photo-work-container{
    display: flex;
    justify-content:space-between;
  }

  .team-people-figure-bg{
    background-color: $accent1-color;
    border-radius: 4px;
  }

  .team-people{
    background-color: $backgroundteam-color;
    display: flex;
    padding-bottom: 94px;
  }

  .clients-list{
    display: flex;
    gap: 30px;
    list-style: none;
  }
  
  .clients-title{
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #212121;
    margin-bottom: 50px;
  }
  
  .clients{
    padding-top: 94px;
    padding-bottom: 82px;
  }
  
  .clients-item-link{
    display: flex;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    color: #AFB1B8;
  }
  
  .clients-svg{
    height: 92px;
    width: 170px;
    fill: #AFB1B8;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 32px;
    padding-left: 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .clients-svg:hover{
    border: 1px solid #2196f3;
    fill: #2196f3;
  }
  
  .photo-work-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  .photo-work-description{
    font-weight: 700;
    font-size: 14px;
    color: white;
    position: absolute;
    background-color: rgb(33, 33, 33, 0.6);
    display: block;
    margin: 0;
    padding: 20px;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
  }
  
  .photo-work-container-2{
    position: relative;
  }

  .information-item:nth-child(1)::before{
    content: url(img/group.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $backgroundteam-color;
    width: 270px;
    height: 120px;
  }
  
  .information-item:nth-child(2)::before{
    content: url(img/clock.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $backgroundteam-color;
    width: 270px;
    height: 120px;
  }
  
  .information-item:nth-child(3)::before{
    content: url(img/diagram.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $backgroundteam-color;
    width: 270px;
    height: 120px;
  }
  
  .information-item:nth-child(4)::before{
    content: url(img/astronaut.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $backgroundteam-color;
    width: 270px;
    height: 120px;
  }
  
  .team-svg{
    height: 20px;
    width: 20px;
    fill: #AFB1B8;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .social-icon-list{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  .socail-team-link{
    text-decoration: none;
    padding: 10px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);  }
  
  .socail-team-link:hover .team-svg{
    fill: white;
  }
  
  .team-div{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 40px;
  }
  
  .social-icon-item:hover{
    fill: white;
  }
  
  .socail-team-link:hover{
    background-color: #2196f3;
    fill: white;
  }

  .socail-icon-item{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    margin-right: 10px;
  }
  