    $backgroundmain-color: #2f303a;
    $backgroundteam-color: #f5f4fa;
    $bacckgroundheader-color: #ececec;
    $accent-color: #2196f3;
    $texttitle-color: #212121;
    $text-color: #757575;
    $accent1-color: #FFFFFF;
